/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Quicksand:wght@300..700&display=swap");

/* CSS variables */
:root {
  --primary-color: #025951; /* Dark green */
  --secondary-color: #a9d8ae; /* Medium green */
  --background-color: #fffdec; /* Light yellow */
  /* --background-color-rgba: rgba(255, 253, 236, 0.5); */
  --text-color: #333333;
  --primary-font: "Quicksand", sans-serif;
  --secondary-font: "Chewy", cursive;
}

/* Global styles */

body {
  font-family: var(--primary-font);
  /* padding-top: 56px; */
}

h1,
h2,
h3,
.lead {
  font-family: var(--secondary-font);
}

.card-title {
  font-family: var(--secondary-font);
  margin-bottom: 15px;
}

.section {
  /* margin-top: 2rem; */
  margin-bottom: 2rem;
  padding-top: 70px;
}

h2 {
  padding-bottom: 10px;
}

/* Navbar */
#navbar {
  background-color: var(--primary-color);
}

/* header */
#header {
  background-image: url("../images/hero-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  min-height: 600px;
  display: flex;
  align-items: center;
}

#header h1 {
  font-family: var(--secondary-font);
  margin-bottom: 50px;
}

#header .btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 15px;
}

#header .btn:hover {
  background-color: var(--secondary-color);
  color: black;
}

/* About us */
/* #about-us h2 {
  margin-bottom: 30px;
  margin-top: 10px;
} */

/* Challenges */
#challenges .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}
#challenges .card:hover {
  transform: translateY(-8px);
  transition: transform 0.3s;
}

#challenges li {
  margin-bottom: 10px;
}

#challenges img {
  height: 300px;
  object-fit: cover;
}

/* Footer */
#footer {
  background-color: var(--primary-color);
  color: white;
}

/* media queries for screens below 576px*/
@media screen and (max-width: 576px) {
  /* Header */
  #header {
    min-height: 350px;
  }
}

/* media queries for screens above 768px*/
@media screen and (min-width: 768px) {
  /* Challenges */
  #challenges #stress .card-body,
  #challenges #depression .card-body {
    min-height: 495px;
  }

  #challenges #anxiety .card-body,
  #challenges #burnout .card-body {
    min-height: 447px;
  }
}
