/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Quicksand:wght@300..700&display=swap");

/* CSS variables */
:root {
  --primary-color: #025951; /* Dark green */
  --secondary-color: #a9d8ae; /* Medium green */
  --light-color: #fffdec; /* Light yellow */
  --text-color: #333333;
  --primary-font: "Quicksand", sans-serif;
  --secondary-font: "Chewy", cursive;
}

/* Global styles */
body {
  font-family: var(--primary-font);
}

h1,
h2,
h3,
.lead {
  font-family: var(--secondary-font);
}

.card-title {
  font-family: var(--secondary-font);
  margin-bottom: 15px;
}

.section {
  margin-bottom: 2rem;
  padding-top: 80px;
}

h2 {
  padding-bottom: 30px;
  font-size: 2.5rem;
}

#header .btn:hover,
#resources .accordion-body button:hover,
#contact .btn:hover,
#resources .btn:hover {
  background-color: var(--secondary-color);
  color: black;
}

/* Navbar */
#navbar {
  background-color: var(--primary-color);
}

#navbar .navbar-brand {
  font-size: 1.8rem;
}

#navbar .navbar-brand:hover {
  font-weight: bold;
}

#navbar .nav-link {
  color: white;
  font-size: 1.2rem;
}

#navBtn {
  background-color: var(--light-color);
  color: black;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
}

#navBtn:hover {
  background-color: var(--secondary-color);
  color: black;
  border: none;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
}

/* header */
#header {
  background-image: url("../images/hero-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  min-height: 600px;
  display: flex;
  align-items: center;
}

#header h1 {
  font-family: var(--secondary-font);
  margin-bottom: 50px;
}

#header .btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.4rem;
}

#header .btn:hover {
  background-color: var(--secondary-color);
  color: black;
}

/* Challenges */
#challenges .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

#challenges .card:hover {
  transform: translateY(-8px);
  transition: transform 0.3s;
}

#challenges li {
  margin-bottom: 10px;
}

#challenges img {
  height: 300px;
  object-fit: cover;
}

#challenges .card-body {
  background-color: var(--secondary-color);
}

/* tips */
#tips .accordion-item h3 button {
  font-size: 1.2rem;
}

#tips .accordion-body {
  background-color: var(--light-color);
}

#tips .accordion-button {
  background-color: var(--secondary-color);
}

#tips .accordion-button:hover {
  font-size: 1.3rem;
}

#tips .accordion-button:not(.collapsed) {
  background-color: var(--primary-color);
  color: white;
}

/* Resources */
#resources .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--light-color);
}

#resources .btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 5px 10px;
}

/* Contact us */
#contact .form-control:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 8px var(--secondary-color);
}

#contact input:hover,
#contact textarea:hover {
  background-color: var(--light-color);
}

#contact .btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
}

/* affirmations */
#affirmations .carousel {
  background-color: var(--light-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  padding: 20px;
}

.carousel-item {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

/* Footer */
#footer {
  background-color: var(--primary-color);
  color: white;
}

/* media queries for screens below 576px*/
@media screen and (max-width: 576px) {
  /* Header */
  #header {
    min-height: 350px;
  }
}

/* media queries for screens above 768px*/
@media screen and (min-width: 768px) {
  /* Challenges */
  #challenges #stress .card-body,
  #challenges #depression .card-body {
    min-height: 446.5px;
  }

  #challenges #anxiety .card-body,
  #challenges #burnout .card-body {
    min-height: 398.5px;
  }
}

/* media queries for screens above 992px*/
@media screen and (min-width: 992px) {
  /* Challenges */
  #challenges #stress .card-body,
  #challenges #depression .card-body {
    min-height: 376px;
  }

  #challenges #anxiety .card-body,
  #challenges #burnout .card-body {
    min-height: 328px;
  }
}

/* media queries for screens above 1400px*/
@media screen and (min-width: 1400px) {
  /* Challenges */
  #challenges #stress .card-body,
  #challenges #depression .card-body,
  #challenges #anxiety .card-body,
  #challenges #burnout .card-body {
    min-height: 472px;
  }
}
