/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Quicksand:wght@300..700&display=swap");

/* CSS variables */
:root {
  --primary-color: #025951; /* Dark green */
  --secondary-color: #a9d8ae; /* Medium green */
  --background-color: #fffdec; /* Light yellow */
  --text-color: #333333;
  --primary-font: "Quicksand", sans-serif;
  --secondary-font: "Chewy", cursive;
}

/* Global styles */

body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
}
